#header {
  color: darkgreen;
  text-align: center;
}
.highlight {
  font-family: cursive;
  color: darkolivegreen;
  padding: 20px 40px;
  background-color: lightgreen;
}
.bold {
  font-family: fantasy;
  color: crimson;
  font-size: 30px;
}
.my-class {
  float: right;
  width:50%;
    margin: 12px;
    border: 2px solid green;
    padding: 4px;
    background-color: rgb(104, 240, 215);
  }
.my-class p {
  font-size: 30pt;
}
.yoda{
  float: left;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
}
.img2 {
  float: right;
  width: 40%;
    border: 2px solid green;
   
   
}