#header {
  color: darkgreen;
  text-align: center;
}
.highlight {
  font-family: cursive;
  color: darkolivegreen;
  padding: 20px 40px;
  background-color: lightgreen;
}
.bold {
  font-family: fantasy;
  color: crimson;
  font-size: 30px;
}
.my-class {
  float: right;
  width:59%;
    margin: 12px;
    border: 2px solid green;
    padding: 4px;
    background-color: rgb(99, 250, 117);
    text-align: center;
  }
.my-class p {
  font-size: 30pt;
}
.yoda{
  float: left;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
}
.yoda2 {
  float: right;
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
}
.small {
   font-size: 10pt;
}